src/main/mule/hello-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3c2c044b-bc46-4ef2-b42a-d569fe2677c9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-muleFlow" doc:id="71e277a9-9b05-489a-bedc-43db46b79ce2" >
		<http:listener doc:name="Listener" doc:id="f1499a98-8e5b-415f-98e6-b2e309028684" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="0268ce0b-f4aa-4344-bc86-03c1ef2b616c" message="#[payload]"/>
	</flow>
</mule>
